.project-main{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
}
.project-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2rem;
    align-self: flex-start;
}
.project-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.div-learn{
    display: block;
    margin: auto;
}
.btn-learn {
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.a-learn{
    text-decoration: none;
    color: black;
}
.btn-learn:hover{
    color: white;
    background-color: white;
}
.project-img{
    max-width: 100%;
    max-height: 100%;
}
@media only screen and (max-width: 800px) {
     .project-main{
       
        margin-top: 0;
      flex-direction: column;
      margin-bottom: 3rem;
    }
  }