body{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;   
}
.navbar{
    order:1;
}
.home{
    order:2;
}
.blog{
    order: 2;
}
.footer{
    order:3;
}